# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl

# Terraform variable secrets
*.tfvars

# Python
venv/
__pycache__/
*.pyc

# Secrets

.env
*.pem
*.key

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db